cadtag.json
[{"id":"bde4af1b.c528c","type":"tab","label":"Cadastro de Tags","disabled":false,"info":""},{"id":"ea2df5e1.4ab9f8","type":"group","z":"bde4af1b.c528c","name":"testes","style":{"stroke":"#d1d1d1","fill":"#bfc7d7","fill-opacity":"0.18","label":true},"nodes":["3e25148b.96b6bc","761fe92.b4cad18","38661a32.d62956","dce2cb35.74df58","3fcf70bb.80eb3","a3a2de9f.086cc"],"x":44,"y":759,"w":602,"h":122},{"id":"3e25148b.96b6bc","type":"http request","z":"bde4af1b.c528c","g":"ea2df5e1.4ab9f8","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"https://10.24.12.71:57511/config/v1/project/channels/ADEGAS/devices","tls":"7caf5efb.aa738","persist":true,"proxy":"","authType":"basic","x":310,"y":800,"wires":[["761fe92.b4cad18"]]},{"id":"761fe92.b4cad18","type":"debug","z":"bde4af1b.c528c","g":"ea2df5e1.4ab9f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":530,"y":800,"wires":[]},{"id":"38661a32.d62956","type":"inject","z":"bde4af1b.c528c","g":"ea2df5e1.4ab9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":150,"y":800,"wires":[["3e25148b.96b6bc"]]},{"id":"dce2cb35.74df58","type":"inject","z":"bde4af1b.c528c","g":"ea2df5e1.4ab9f8","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":160,"y":840,"wires":[["3fcf70bb.80eb3"]]},{"id":"3fcf70bb.80eb3","type":"function","z":"bde4af1b.c528c","g":"ea2df5e1.4ab9f8","name":"","func":"msg={'url':'http://10.24.12.71:57411//config/v1/project/channels/ADEGAS/devices/ADFMPLC41101/tag_groups/TINAS_FERMENTO/tags',\n'payload':{\n\t\t\"common.ALLTYPES_NAME\": \"Edson\",\n\t\t\"common.ALLTYPES_DESCRIPTION\": \"teste\",\n\t\t\"servermain.TAG_ADDRESS\": \"DB725,WORD20514\",\n\t\t\"servermain.TAG_DATA_TYPE\": 5,\n\t\t/*\"servermain.TAG_READ_WRITE_ACCESS\": 1,\n\t\t\"servermain.TAG_SCAN_RATE_MILLISECONDS\": 100,\n\t\t\"servermain.TAG_AUTOGENERATED\": false,\n\t\t\"servermain.TAG_SCALING_TYPE\": 0,\n\t\t\"servermain.TAG_SCALING_RAW_LOW\": 0,\n\t\t\"servermain.TAG_SCALING_RAW_HIGH\": 1000,\n\t\t\"servermain.TAG_SCALING_SCALED_DATA_TYPE\": 9,\n\t\t\"servermain.TAG_SCALING_SCALED_LOW\": 0,\n\t\t\"servermain.TAG_SCALING_SCALED_HIGH\": 1000,\n\t\t\"servermain.TAG_SCALING_CLAMP_LOW\": false,\n\t\t\"servermain.TAG_SCALING_CLAMP_HIGH\": false,\n\t\t\"servermain.TAG_SCALING_NEGATE_VALUE\": false,\n\t\t\"servermain.TAG_SCALING_UNITS\": \"\"*/},\n    'method':'POST'\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":320,"y":840,"wires":[["a3a2de9f.086cc"]]},{"id":"a3a2de9f.086cc","type":"debug","z":"bde4af1b.c528c","g":"ea2df5e1.4ab9f8","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","targetType":"full","statusVal":"","statusType":"auto","x":550,"y":840,"wires":[]},{"id":"7f7203b0.4321dc","type":"http in","z":"bde4af1b.c528c","name":"","url":"/ptags/:area/:plc","method":"get","upload":false,"swaggerDoc":"","x":180,"y":400,"wires":[["4ad73a3d.5be894"]]},{"id":"4ad73a3d.5be894","type":"function","z":"bde4af1b.c528c","name":"","func":"msg={'url':'http://10.24.12.71:57411/config/v1/project/channels/'+msg.req.params.area+'/devices/'+msg.req.params.plc+'/tags','req':msg.req,'res':msg.res}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":400,"wires":[["f6516cba.cac29"]]},{"id":"788dc3e0.16407c","type":"http in","z":"bde4af1b.c528c","name":"","url":"/gtags/:area/:plc/:group","method":"get","upload":false,"swaggerDoc":"","x":200,"y":460,"wires":[["59dac647.0fbb38"]]},{"id":"59dac647.0fbb38","type":"function","z":"bde4af1b.c528c","name":"","func":"msg={'url':'http://10.24.12.71:57411/config/v1/project/channels/'+msg.req.params.area+'/devices/'+msg.req.params.plc+'/tag_groups/'+msg.req.params.group+'/tags','req':msg.req,'res':msg.res}\n//http://pgsns6:57411/config/v1/project/channels/ADEGAS/devices/ADFMPLC41101/tag_groups/TINAS_FERMENTO/tags\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":460,"wires":[["207d61d9.2d431e"]]},{"id":"59171e14.6fd22","type":"http in","z":"bde4af1b.c528c","name":"","url":"/addgroup/:area/:plc/:nome","method":"get","upload":false,"swaggerDoc":"","x":210,"y":500,"wires":[["ce7b1e5a.1e6dc"]]},{"id":"ce7b1e5a.1e6dc","type":"function","z":"bde4af1b.c528c","name":"","func":"msg={'url':'http://10.24.12.71:57411/config/v1/project/channels/'+msg.req.params.area+'/devices/'+msg.req.params.plc+'/tag_groups/',\n         //http://pgsns6:57411/config/v1/project/channels/ADEGAS/devices/ADFMPLC41101/tag_groups/TINAS_FERMENTO/tags\n'req':msg.req,\n'res':msg.res,\n'payload':{\n\t\t\"common.ALLTYPES_NAME\": msg.req.params.nome\n\t\t\n\t\t},\n    'method':'POST'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":400,"y":500,"wires":[["fb3b459d.9454e8"]]},{"id":"dd59b46f.ef72f8","type":"http in","z":"bde4af1b.c528c","name":"","url":"/canais","method":"get","upload":false,"swaggerDoc":"","x":150,"y":140,"wires":[["c6f2d9ed.0d4588"]]},{"id":"c6f2d9ed.0d4588","type":"http request","z":"bde4af1b.c528c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://10.24.12.71:57411/config/v1/project/channels","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"x":350,"y":140,"wires":[["e135a9e4.14dec8"]]},{"id":"5b420df9.ee1e74","type":"http in","z":"bde4af1b.c528c","name":"","url":"/cadtag","method":"get","upload":false,"swaggerDoc":"","x":150,"y":60,"wires":[["279f7c9e.494514"]]},{"id":"279f7c9e.494514","type":"template","z":"bde4af1b.c528c","name":"HOME","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n\n    <title>Cadastro de Tags</title>\n    <!-- Custom styles for this template-->\n    <link href=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/css/sb-admin-2.min.css\" rel=\"stylesheet\">\n    <script>\n    \n      var user;\n      function ListaArea(){\n        let dropdown = document.getElementById('area');\n        dropdown.length = 0;\n        \n        let defaultOption = document.createElement('option');\n        defaultOption.text = 'Channels'; \n        \n        dropdown.add(defaultOption);\n        dropdown.selectedIndex = 0;\n        \n        const url = 'http://10.91.7.201:1880/canais';\n        \n        const request = new XMLHttpRequest();\n        request.open('GET', url, true);\n        \n        request.onload = function() {\n          if (request.status === 200) {\n            data = JSON.parse(request.responseText);\n            let option;\n            for (let i = 0; i < data.length; i++) {\n              option = document.createElement('option');\n              option.text = data[i][\"common.ALLTYPES_NAME\"];\n              option.value = data[i][\"common.ALLTYPES_NAME\"];\n              dropdown.add(option);\n            }\n           } else {\n            // Reached the server, but it returned an error\n          }   \n        }\n        \n        request.onerror = function() {\n          console.error('An error occurred fetching the JSON from ' + url);\n        };\n        \n        request.send();\n    }\n        function estaLogado(){\n           user=localStorage.getItem('user')||0\n           if(user==0){\n           //    window.location.replace('/labomatic')\n           ListaArea();\n           }else{\n                \n                document.getElementById('user').innerHTML=user;\n                ListaArea();\n           }\n        }\n   </script>\n</head>\n\n<body class=\"bg-gradient-dark\" onload=\"estaLogado()\" onunload=\"sair()\" onclose=\"sair()\">\n    <div class=\"container\">\n\n        <div class=\"card o-hidden border-0 shadow-lg my-5\">\n            <div class=\"card-body p-0\">\n                <!-- Nested Row within Card Body -->\n                <div class=\"row\">\n                    <div class=\"col-lg-5 d-none d-lg-block bg-Cadastro-image\"></div>\n                    <div class=\"col-lg-7\">\n                        <div class=\"p-5\">\n                            <div class=\"text-center\">\n                                <h1 class=\"h4 text-gray-900 mb-4\">Adicionar Tags</h1>\n                            </div>\n                            <form class=\"user\" id=\"formulario\">\n                                <div class=\"form-group row\">\n                                    <div class=\"col-sm-6 mb-3 mb-sm-0\">\n                                        <select class=\"form-control\" onchange=\"ListaPLC(this.value)\" id=\"area\" required=\"\">\n\t\t\t\t\t\t\t\t\t       <option value=\"\" disabled=\"\" selected=\"\">Area</option>\n\t\t\t\t\t\t\t\t\t    </select>\n\t\t\t                         </div>\n\t\t\t                         <div id=\"textHint\" class=\"col-sm-6 mb-3 mb-sm-0\">\n                                        <select class=\"form-control\" onchange=\"groups()\" id=\"plc\" required=\"\">\n                                \t\t\t<option value=\"\" disabled=\"\" selected=\"\">Devices</option>\n                            \t\t\t</select>\n                            \t\t</div>\n\t                            </div>\n                                <div class=\"form-group row\">\n                                    <div class=\"col-sm-6 mb-3 mb-sm-0\">\n                                        <select class=\"form-control\"  id=\"tgroups\" onchange=\"ShowAddGroup(this.value)\">\n                                \t\t    <option value=\"\" disabled=\"\" selected=\"\">Tag Groups</option>\t\n                                \t\t</select>\n                                    </div>\n                                    <div class=\"col-sm-6 mb-3 mb-sm-0\">\n                                        <input type=\"text\" class=\"form-control \" onchange=\"$(this).val($(this).val().toUpperCase());\" required=\"\" id=\"address\" placeholder=\"Endereço PLC Ex.: DB727,DBD40\">\n                                \t</div>                         \n                                </div>\n                                <div class=\"form-group row\">\n                                    <div class=\"col-sm-6 mb-3 mb-sm-0\">\n                                            <select class=\"form-control\" id=\"datatype\" required=\"\">\n                                    \t\t\t<option value=\"\" disabled=\"\" selected=\"\">Data Type</option>\n                                    \t\t\t<option value=\"0\">String</option>\n                                    \t\t\t<option value=\"1\">Boolean</option>\n                                    \t\t\t<option value=\"2\">Char</option>\n                                    \t\t\t<option value=\"3\">Byte</option>\n                                    \t\t\t<option value=\"4\">Short</option>\n                                    \t\t\t<option value=\"5\">Word</option>\n                                    \t\t    <option value=\"6\">Long</option>\n                                    \t\t    <option value=\"7\">DWord</option>\n                                    \t\t    <option value=\"8\">Float</option>\n                                    \t\t    <option value=\"9\">Double</option>\n                                \t\t\t</select>\n                                \t</div>\n                                \t<div class=\"col-sm-6 mb-3 mb-sm-0\">\n                                        <input type=\"text\" class=\"form-control \" onchange=\"$(this).val($(this).val().toUpperCase());\" required=\"\" id=\"tag\" placeholder=\"Nome Ex.: CONDUTIVIDADE_RETORNO_CIP\">\n                                \t</div>\n                                </div>\n                                <div class=\"form-group row\">\n                                \n                                        <input type=\"text\" class=\"form-control \" onchange=\"$(this).val($(this).val().toUpperCase());\" required=\"\" id=\"descricao\" placeholder=\"Descrição ex.: TT141001\">\n                                \t\n                                </div>\n                                <div class=\"form-group row\">\n                                    <div class=\"col-sm-6 mb-3 mb-sm-0\">\n                                \t    <a href=\"tags\">\n                                            <input type=\"button\" class=\"btn btn-primary btn-user btn-block\"  value=\"Consultar\">\n                                        </a>\n                                    </div>   \n                                    <div class=\"col-sm-6 mb-3 mb-sm-0\">\n                                        <input type=\"button\" class=\"btn btn-primary btn-user btn-block\" onclick=\"enviadados()\" name=\"Gravar\" value=\"Gravar\">\n                                    </div>\n                                </div> \n                             </form>\n                            <hr>\n                            <div class=\"text-center\">\n                                                        <div class=\"modal fade\" id=\"myModal\" role=\"dialog\">\n                            <div class=\"modal-dialog\">\n                            \n                              <!-- Modal content-->\n                              <div class=\"modal-content\">\n                                <div class=\"modal-header\" style=\"padding:35px 50px;\">\n                                <h4><span class=\"glyphicon glyphicon-lock\"></span>Adicionar Grupo</h4>\n                                  <button type=\"button\" class=\"close\" data-dismiss=\"modal\">&times;</button>\n                                  \n                                </div>\n                                <div class=\"modal-body\" style=\"padding:40px 50px;\">\n                                  <div class=\"form-group row\">\n                                    \n                                        <input type=\"text\" class=\"form-control \" onchange=\"$(this).val($(this).val().toUpperCase());\" id=\"strGrupo\"\n                                            placeholder=\"Nome Grupo\">\n                                                            \n                                    </div>\n                                </div>\n                                <div class=\"modal-footer\">\n                                  <a href=\"#\" class=\"btn btn-primary btn-user btn-block\" onclick=\"AddGroup(document.getElementById('strGrupo').value)\">\n                                                           Adicionar\n                                                        </a>\n                                </div>\n                              </div>\n                            </div>\n                            <div class=\"text-center\">\n                                                           </div>\n                        </div>\n                    </div>\n                </div>\n            </div>\n        </div>\n\n    </div>\n    <script>\n    var lotes;\n    var analises;\n    function ShowAddGroup(valor){\n        if (valor == -2){\n\t  \t\t$('#myModal').modal(\"show\");\n\t  \t\t}\n    }\n    function AddGroup(str){\n        let varplc = document.getElementById('plc').value;\n        let vararea = document.getElementById('area').value;\n        const url = 'http://10.91.7.201:1880/addgroup/'+vararea+'/'+varplc+'/'+str;\n        const request = new XMLHttpRequest();\n        request.open('GET', url, true);\n        request.onload = function() {\n          if (request.status === 201) {\n                groups();\n           } else {\n               var erros = JSON.parse(request.responseText);\n            alert(erros.message);\n          }   \n        }\n        \n        request.onerror = function() {\n          console.error('An error occurred fetching the JSON from ' + url);\n         //alert('Falha comunicacao');\n        };\n        \n        request.send();\n        $('#myModal').modal(\"hide\");\n        \n    }\n    function limpar(){\n        document.getElementById('area').value='Channels';\n        document.getElementById('plc').value='Devices';\n        document.getElementById('tgroups').value='Tag Groups';\n        document.getElementById('tag').value='';\n        document.getElementById('datatype').value='';\n        document.getElementById('descricao').value='';\n        document.getElementById('address').value='';\n        \n    }\n    function enviadados(){\n        let varplc = document.getElementById('plc').value;\n        let vararea = document.getElementById('area').value;\n        let vargroup = document.getElementById('tgroups').value;\n        let vartag = document.getElementById('tag').value;\n        let vardatatype = document.getElementById('datatype').value;\n        let varaddress = document.getElementById('address').value;\n        let vardescricao = document.getElementById('descricao').value;\n        const url = 'http://10.91.7.201:1880/tag/'+vararea+'/'+varplc+'/'+vargroup+'/'+varaddress+'/'+vardatatype+'/'+vardescricao+'/'+vartag;\n            //alert('http://10.91.7.201:1880/tag/'+vararea+'/'+varplc+'/'+vargroup+'/'+vartag+'/'+vardatatype+'/'+vardescricao)\n        const request = new XMLHttpRequest();\n        request.open('GET', url, true);\n        setTimeout(5000);\n        request.onload = function() {\n          if (request.status === 201) {\n            alert('ns=2;s='+vararea+'.'+varplc+'.'+vargroup+'.'+vartag);\n            limpar();\n           } else {\n               var erros = JSON.parse(request.responseText);\n            alert(erros.message);\n          }   \n        }\n        \n        request.onerror = function() {\n          console.error('An error occurred fetching the JSON from ' + url);\n         //alert('Falha comunicacao');\n        };\n        \n        request.send();\n    }\n    \n    function ListaPLC(area){\n        let dropdown = document.getElementById('plc');\n        dropdown.length = 0;\n        \n        let defaultOption = document.createElement('option');\n        defaultOption.text = 'Devices'; \n        \n        dropdown.add(defaultOption);\n        dropdown.selectedIndex = 0;\n        \n        const url = 'http://10.91.7.201:1880/plc/'+area;\n        \n        const request = new XMLHttpRequest();\n        request.open('GET', url, true);\n        \n        request.onload = function() {\n          if (request.status === 200) {\n            var plc = JSON.parse(request.responseText);\n            let option;\n            for (let i = 0; i < plc.length; i++) {\n              option = document.createElement('option');\n              option.text = plc[i][\"common.ALLTYPES_NAME\"];\n              option.value = plc[i][\"common.ALLTYPES_NAME\"];\n              dropdown.add(option);\n            }\n           } else {\n            // Reached the server, but it returned an error\n          }   \n        }\n        \n        request.onerror = function() {\n          console.error('An error occurred fetching the JSON from ' + url);\n        };\n        \n        request.send();\n    }\n    function groups(){\n        let dropdown = document.getElementById('tgroups');\n        let idarea = document.getElementById('area').value;\n        let idplc = document.getElementById('plc').value;\n        dropdown.length = 0;\n        \n        let defaultOption = document.createElement('option');\n        defaultOption.text = 'Tag Groups'; \n        \n        dropdown.add(defaultOption);\n        dropdown.selectedIndex = 0;\n        \n        const url = 'http://10.91.7.201:1880/tgroups/'+idarea+ '/'+idplc+'/';\n        \n        const request = new XMLHttpRequest();\n        request.open('GET', url, true);\n        \n        request.onload = function() {\n          if (request.status === 200) {\n            tgroup = JSON.parse(request.responseText);\n            let option;\n            for (let i = 0; i < tgroup.length; i++) {\n              option = document.createElement('option');\n              option.text = tgroup[i][\"common.ALLTYPES_NAME\"];\n              option.value = tgroup[i][\"common.ALLTYPES_NAME\"];\n              dropdown.add(option);\n            }\n            option = document.createElement('option');\n            option.text = 'Adicionar';\n            option.value = -2;\n              dropdown.add(option);\n           } else {\n            // Reached the server, but it returned an error\n          }   \n        }\n        \n        request.onerror = function() {\n          console.error('An error occurred fetching the JSON from ' + url);\n        };\n        \n        request.send();\n        \n    }\n   \n    \n    function sair(){\n        localStorage.setItem('user',0)\n        user=0\n        window.location.replace('/labomatic')\n    }\n   \n    </script>\n    <!-- Bootstrap core JavaScript-->\n    <script src=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js\"></script>\n    <script src=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js\"></script>\n\n    <!-- Core plugin JavaScript-->\n    <script src=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js\"></script>\n\n    <!-- Custom scripts for all pages-->\n    <script src=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/js/sb-admin-2.min.js\"></script>\n\n</body>\n\n</html>\n\n\n","output":"str","x":330,"y":60,"wires":[["906acce5.f5355"]]},{"id":"862963b2.52de8","type":"function","z":"bde4af1b.c528c","name":"","func":"msg={'url':'http://10.24.12.71:57411/config/v1/project/channels/'+msg.req.params.area+'/devices','req':msg.req,'res':msg.res}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":220,"wires":[["4b0a7700.f19e98"]]},{"id":"3d429518.46e8aa","type":"http in","z":"bde4af1b.c528c","name":"","url":"/plc/:area","method":"get","upload":false,"swaggerDoc":"","x":150,"y":220,"wires":[["862963b2.52de8"]]},{"id":"8c254929.b7c1a8","type":"http request","z":"bde4af1b.c528c","name":"","method":"GET","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","x":810,"y":40,"wires":[["3b670864.863bb8"]]},{"id":"52c4c083.af5d8","type":"http in","z":"bde4af1b.c528c","name":"","url":"/tgroups/:area/:plc","method":"get","upload":false,"swaggerDoc":"","x":180,"y":280,"wires":[["be92a559.fa1c28"]]},{"id":"be92a559.fa1c28","type":"function","z":"bde4af1b.c528c","name":"","func":"msg={'url':'http://10.24.12.71:57411/config/v1/project/channels/'+msg.req.params.area+'/devices/'+msg.req.params.plc+'/tag_groups','req':msg.req,'res':msg.res}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":280,"wires":[["b61b155.69f4ae8"]]},{"id":"517fbbbe.64a864","type":"http in","z":"bde4af1b.c528c","name":"","url":"/tag/:area/:plc/:group/:address/:type/:desc/:tag","method":"get","upload":false,"swaggerDoc":"","x":270,"y":320,"wires":[["67f1ec94.183464"]]},{"id":"67f1ec94.183464","type":"function","z":"bde4af1b.c528c","name":"","func":"msg={'url':'http://10.24.12.71:57411//config/v1/project/channels/'+msg.req.params.area+'/devices/'+msg.req.params.plc+'/tag_groups/'+msg.req.params.group+'/tags',\n         //http://pgsns6:57411/config/v1/project/channels/ADEGAS/devices/ADFMPLC41101/tag_groups/TINAS_FERMENTO/tags\n'req':msg.req,\n'res':msg.res,\n'payload':{\n\t\t\"common.ALLTYPES_NAME\": msg.req.params.tag,\n\t\t\"common.ALLTYPES_DESCRIPTION\": msg.req.params.desc,\n\t\t\"servermain.TAG_ADDRESS\": msg.req.params.address,\n\t\t\"servermain.TAG_DATA_TYPE\": parseInt(msg.req.params.type),\n\t\t\"servermain.TAG_SCAN_RATE_MILLISECONDS\": 1000,\n\t\t},\n    'method':'POST'\n}\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":520,"y":320,"wires":[["340bce65.f1ab72"]]},{"id":"fea9bcab.824ec","type":"template","z":"bde4af1b.c528c","name":"HOME","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"\n<!DOCTYPE html>\n<html lang=\"en\">\n\n<head>\n\n    <meta charset=\"utf-8\">\n    <meta http-equiv=\"X-UA-Compatible\" content=\"IE=edge\">\n    <meta name=\"viewport\" content=\"width=device-width, initial-scale=1, shrink-to-fit=no\">\n    <meta name=\"description\" content=\"\">\n    <meta name=\"author\" content=\"\">\n\n    <title>Consulta Tags</title>\n\n    <!-- Custom fonts for this template -->\n    <link href=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/fontawesome-free/css/all.min.css\" rel=\"stylesheet\" type=\"text/css\">\n    <link\n        href=\"https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i\"\n        rel=\"stylesheet\">\n\n    <!-- Custom styles for this template -->\n    <link href=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/css/sb-admin-2.min.css\" rel=\"stylesheet\">\n\n    <!-- Custom styles for this page -->\n    <link href=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.css\" rel=\"stylesheet\">\n    <script>\n    \n      var user;\n      function ListaArea(){\n        let dropdown = document.getElementById('area');\n        dropdown.length = 0;\n        \n        let defaultOption = document.createElement('option');\n        defaultOption.text = 'Channels'; \n        \n        dropdown.add(defaultOption);\n        dropdown.selectedIndex = 0;\n        \n        const url = 'http://10.91.7.201:1880/canais';\n        \n        const request = new XMLHttpRequest();\n        request.open('GET', url, true);\n        \n        request.onload = function() {\n          if (request.status === 200) {\n            data = JSON.parse(request.responseText);\n            let option;\n            for (let i = 0; i < data.length; i++) {\n              option = document.createElement('option');\n              option.text = data[i][\"common.ALLTYPES_NAME\"];\n              option.value = data[i][\"common.ALLTYPES_NAME\"];\n              dropdown.add(option);\n            }\n           } else {\n            // Reached the server, but it returned an error\n          }   \n        }\n        \n        request.onerror = function() {\n          console.error('An error occurred fetching the JSON from ' + url);\n        };\n        \n        request.send();\n    }\n        function estaLogado(){\n           user=localStorage.getItem('user')||0\n           if(user==0){\n           //    window.location.replace('/labomatic')\n           ListaArea();\n           }else{\n                \n                document.getElementById('user').innerHTML=user;\n                ListaArea();\n           }\n        }\n        function tableToCSV() {\n \n            // Variable to store the final csv data\n            var csv_data = [];\n \n            // Get each row data\n            var rows = document.getElementsByTagName('tr');\n            for (var i = 0; i < rows.length; i++) {\n \n                // Get each column data\n                var cols = rows[i].querySelectorAll('td,th');\n \n                // Stores each csv row data\n                var csvrow = [];\n                for (var j = 0; j < cols.length; j++) {\n \n                    // Get the text data of each cell\n                    // of a row and push it to csvrow\n                    csvrow.push('\"'+cols[j].innerHTML+'\"');\n                }\n \n                // Combine each column value with comma\n                csv_data.push(csvrow.join(\";\"));\n            }\n \n            // Combine each row data with new line character\n            csv_data = csv_data.join('\\n');\n \n            // Call this function to download csv file \n            downloadCSVFile(csv_data);\n \n        }\n \n        function downloadCSVFile(csv_data) {\n \n            // Create CSV file object and feed\n            // our csv_data into it\n            CSVFile = new Blob([csv_data], {\n                type: \"text/csv\"\n            });\n \n            // Create to temporary link to initiate\n            // download process\n            var temp_link = document.createElement('a');\n \n            // Download csv file\n            temp_link.download = document.getElementById('plc').value+\".csv\";\n            var url = window.URL.createObjectURL(CSVFile);\n            temp_link.href = url;\n \n            // This link should not be displayed\n            temp_link.style.display = \"none\";\n            document.body.appendChild(temp_link);\n \n            // Automatically click the link to\n            // trigger download\n            temp_link.click();\n            document.body.removeChild(temp_link);\n        }\n   </script>\n</head>\n\n<body id=\"page-top\" onload=\"ListaArea()\">\n\n    <!-- Page Wrapper -->\n    <div id=\"wrapper\">\n        <!-- Content Wrapper -->\n        <div id=\"content-wrapper\" class=\"d-flex flex-column\">\n\n            \n                <!-- Begin Page Content -->\n                <div class=\"container-fluid\">\n                    <!-- DataTales Example -->\n                    <div class=\"card shadow mb-4\">\n                        <div class=\"card-header py-3\">\n                            <div class=\"form-group row\">\n                                    <div class=\"col-3 col-md-3 mb-2\">\n                                        <select class=\"form-control\"  onchange=\"ListaPLC(this.value)\" id=\"area\" required=\"\">\n\t\t\t\t\t\t\t\t\t       <option value=\"\" disabled=\"\" selected=\"\">Area</option>\n\t\t\t\t\t\t\t\t\t    </select>\n\t\t\t                        </div>\n\t\t\t                        <div class=\"col-3 col-md-3 mb-2\">\n                                        <select class=\"form-control\"  onchange=\"groups()\" id=\"plc\" required=\"\">\n                                \t\t\t<option value=\"\" disabled=\"\" selected=\"\">Devices</option>\n                            \t\t\t</select>\n                            \t\t</div>\n\t\t\t                        <div class=\"col-3 col-md-3 mb-24\">\n                            \t\t\t<select class=\"form-control\"  id=\"tgroups\" onchange=\"dados()\">\n                                \t\t    <option value=\"\" disabled=\"\" selected=\"\">Tag Groups</option>\t\n                                \t\t</select>\n                                \t</div>\n                                \t<div class=\"col-3 col-md-3 mb-24\">\n                                \t    <a href=\"cadtag\">\n                                            <input type=\"button\" class=\"btn btn-primary btn-user btn-block\"  value=\"Cadastar Nova\">\n                                        </a>\n                                        </BR>\n                                \t    <a href=\"#\">\n                                            <input type=\"button\" class=\"btn btn-primary btn-user btn-block\"  value=\"download\" onclick=\"tableToCSV()\">\n                                        </a>\n                                \t</div>\n\n                        </div>\n                        </div>\n                        </div>\n                        <div class=\"card-body\">\n                            <div class=\"table-responsive\">\n                                <table class=\"table table-bordered\" id=\"dataTable\" width=\"100%\" cellspacing=\"0\">\n                                    <thead>\n                                        <tr>\n                                            <th>Nome</th>\n                                            <th>Descrição</th>\n                                            <th>Endereço PLC</th>\n                                            <th>Endereço OPC</th>\n                                        </tr>\n                                    </thead>\n                                    <tfoot>\n                                         <tr>\n                                            <th>Nome</th>\n                                            <th>Descrição</th>\n                                            <th>Endereço PLC</th>\n                                            <th>Endereço OPC</th>\n                                        </tr>\n                                    </tfoot>\n                                    <tbody id=\"tabela\">\n                                        \n                                    </tbody>\n                                </table>\n                            </div>\n                        </div>\n                    </div>\n\n                </div>\n                <!-- /.container-fluid -->\n\n            </div>\n            <!-- End of Main Content -->\n        </div>\n        <!-- End of Content Wrapper -->\n\n    </div>\n    <!-- End of Page Wrapper -->\n\n    <!-- Scroll to Top Button-->\n    <a class=\"scroll-to-top rounded\" href=\"#page-top\">\n        <i class=\"fas fa-angle-up\"></i>\n    </a>\n    <script>\n    var lotes;\n    var analises;\n    function limpar(){\n        document.getElementById('area').value='Channels';\n        document.getElementById('plc').value='Devices';\n        document.getElementById('tgroups').value='Tag Groups';\n        document.getElementById('tag').value='';\n        document.getElementById('datatype').value='';\n        document.getElementById('descricao').value='';\n        document.getElementById('address').value='';\n        \n    }\n    function dados(){\n        let varplc = document.getElementById('plc').value;\n        let vararea = document.getElementById('area').value;\n        let vargroup = document.getElementById('tgroups').value;\n        var strgroup=vargroup=='Tag Groups'?'.':'.'+vargroup+'.';\n        var url=vargroup=='Tag Groups'?'http://10.91.7.201:1880/ptags/'+vararea+'/'+varplc:'http://10.91.7.201:1880/gtags/'+vararea+'/'+varplc+'/'+vargroup;\n        const request = new XMLHttpRequest();\n        request.open('GET', url, true);\n        request.onload = function() {\n          if (request.status === 200) {\n            var data = JSON.parse(request.responseText);\n            let option;\n            $('#dataTable').DataTable().clear()\n            $('#dataTable').DataTable().draw();\n            for (let i = 0; i < data.length; i++) {\n               $('#dataTable').DataTable().row.add([data[i]['common.ALLTYPES_NAME'], data[i]['common.ALLTYPES_DESCRIPTION'], data[i]['servermain.TAG_ADDRESS'], 'ns=2;s='+vararea+'.'+varplc+strgroup+data[i]['common.ALLTYPES_NAME']]).draw(false);\n              //document.getElementById('tabela').innerHTML+=\"<tr><td>\"+data[i]['common.ALLTYPES_NAME']+\"</td><td>\"+data[i]['common.ALLTYPES_DESCRIPTION']+\"</td><td>\"+data[i]['servermain.TAG_ADDRESS']+\"</td><td>\"+'ns=2;s='+vararea+'.'+varplc+strgroup+data[i]['common.ALLTYPES_NAME']+\"</td></tr>\"\n            }\n           } else {\n               var erros = JSON.parse(request.responseText);\n            alert(erros.message);\n          }   \n        }\n        request.onerror = function() {\n          console.error('An error occurred fetching the JSON from ' + url);\n         //alert('Falha comunicacao');\n        };\n        \n        request.send();\n        \n    }\n    \n    function ListaPLC(area){\n        let dropdown = document.getElementById('plc');\n        dropdown.length = 0;\n        \n        let defaultOption = document.createElement('option');\n        defaultOption.text = 'Devices'; \n        \n        dropdown.add(defaultOption);\n        dropdown.selectedIndex = 0;\n        \n        const url = 'http://10.91.7.201:1880/plc/'+area;\n        \n        const request = new XMLHttpRequest();\n        request.open('GET', url, true);\n        \n        request.onload = function() {\n          if (request.status === 200) {\n            var plc = JSON.parse(request.responseText);\n            let option;\n            for (let i = 0; i < plc.length; i++) {\n              option = document.createElement('option');\n              option.text = plc[i][\"common.ALLTYPES_NAME\"];\n              option.value = plc[i][\"common.ALLTYPES_NAME\"];\n              dropdown.add(option);\n            }\n           } else {\n            // Reached the server, but it returned an error\n          }   \n        }\n        \n        request.onerror = function() {\n          console.error('An error occurred fetching the JSON from ' + url);\n        };\n        \n        request.send();\n    }\n    function groups(){\n        \n        let dropdown = document.getElementById('tgroups');\n        let idarea = document.getElementById('area').value;\n        let idplc = document.getElementById('plc').value;\n        dropdown.length = 0;\n        \n        let defaultOption = document.createElement('option');\n        defaultOption.text = 'Tag Groups'; \n        \n        dropdown.add(defaultOption);\n        dropdown.selectedIndex = 0;\n        \n        const url = 'http://10.91.7.201:1880/tgroups/'+idarea+ '/'+idplc+'/';\n        \n        const request = new XMLHttpRequest();\n        request.open('GET', url, true);\n        \n        request.onload = function() {\n          if (request.status === 200) {\n            tgroup = JSON.parse(request.responseText);\n            let option;\n            for (let i = 0; i < tgroup.length; i++) {\n              option = document.createElement('option');\n              option.text = tgroup[i][\"common.ALLTYPES_NAME\"];\n              option.value = tgroup[i][\"common.ALLTYPES_NAME\"];\n              dropdown.add(option);\n            }\n           } else {\n            // Reached the server, but it returned an error\n          }   \n        }\n        \n        request.onerror = function() {\n          console.error('An error occurred fetching the JSON from ' + url);\n        };\n        \n        request.send();\n        dados();\n        \n    }\n   \n    \n    function sair(){\n        localStorage.setItem('user',0)\n        user=0\n        window.location.replace('/labomatic')\n    }\n   \n    </script>\n\n    <!-- Bootstrap core JavaScript-->\n    <script src=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/jquery/jquery.min.js\"></script>\n    <script src=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/bootstrap/js/bootstrap.bundle.min.js\"></script>\n\n    <!-- Core plugin JavaScript-->\n    <script src=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/jquery-easing/jquery.easing.min.js\"></script>\n\n    <!-- Custom scripts for all pages-->\n    <script src=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/js/sb-admin-2.min.js\"></script>\n\n    <!-- Page level plugins -->\n    <script src=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/datatables/jquery.dataTables.min.js\"></script>\n    <script src=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/vendor/datatables/dataTables.bootstrap4.min.js\"></script>\n\n    <!-- Page level custom scripts -->\n    <script src=\"https://startbootstrap.github.io/startbootstrap-sb-admin-2/js/demo/datatables-demo.js\"></script>\n\n</body>\n\n</html>","output":"str","x":330,"y":100,"wires":[["5cef6dad.441fb4"]]},{"id":"d3496b9.0a83c98","type":"http in","z":"bde4af1b.c528c","name":"","url":"/tags","method":"get","upload":false,"swaggerDoc":"","x":140,"y":100,"wires":[["fea9bcab.824ec"]]},{"id":"a09b7ca6.6bc3","type":"http response","z":"bde4af1b.c528c","name":"","x":790,"y":80,"wires":[]},{"id":"af512bd4.c074d8","type":"link in","z":"bde4af1b.c528c","name":"HTTP Out","links":["906acce5.f5355","5cef6dad.441fb4","e135a9e4.14dec8","8be91628.ce5ab8","40dfa37a.b3145c","5aa48f65.dd496","f5f8f1df.11a8e","732d1079.9f291","3b670864.863bb8","94a5c976.06f3a8","d41b2e0.f64bed","f08fae537daacd5a"],"x":705,"y":80,"wires":[["a09b7ca6.6bc3"]]},{"id":"906acce5.f5355","type":"link out","z":"bde4af1b.c528c","name":"Http Request in","links":["af512bd4.c074d8"],"x":455,"y":60,"wires":[]},{"id":"5cef6dad.441fb4","type":"link out","z":"bde4af1b.c528c","name":"Http Request in","links":["af512bd4.c074d8"],"x":455,"y":100,"wires":[]},{"id":"e135a9e4.14dec8","type":"link out","z":"bde4af1b.c528c","name":"Http Request in","links":["af512bd4.c074d8"],"x":455,"y":140,"wires":[]},{"id":"94a5c976.06f3a8","type":"link out","z":"bde4af1b.c528c","name":"Http Request in","links":["af512bd4.c074d8"],"x":815,"y":320,"wires":[]},{"id":"b61b155.69f4ae8","type":"link out","z":"bde4af1b.c528c","name":"Http Request in","links":["141e1553.cc8b9b"],"x":415,"y":280,"wires":[]},{"id":"3b670864.863bb8","type":"link out","z":"bde4af1b.c528c","name":"http request","links":["af512bd4.c074d8"],"x":895,"y":40,"wires":[]},{"id":"141e1553.cc8b9b","type":"link in","z":"bde4af1b.c528c","name":"HttpRequest","links":["207d61d9.2d431e","4b0a7700.f19e98","b61b155.69f4ae8","f6516cba.cac29"],"x":705,"y":40,"wires":[["8c254929.b7c1a8"]]},{"id":"4b0a7700.f19e98","type":"link out","z":"bde4af1b.c528c","name":"Http Request in","links":["141e1553.cc8b9b"],"x":355,"y":220,"wires":[]},{"id":"f6516cba.cac29","type":"link out","z":"bde4af1b.c528c","name":"Http Request in","links":["141e1553.cc8b9b"],"x":415,"y":400,"wires":[]},{"id":"207d61d9.2d431e","type":"link out","z":"bde4af1b.c528c","name":"Http Request in","links":["141e1553.cc8b9b"],"x":455,"y":460,"wires":[]},{"id":"340bce65.f1ab72","type":"http request","z":"bde4af1b.c528c","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"x":670,"y":320,"wires":[["94a5c976.06f3a8"]]},{"id":"fb3b459d.9454e8","type":"http request","z":"bde4af1b.c528c","name":"","method":"use","ret":"txt","paytoqs":"ignore","url":"","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"x":530,"y":500,"wires":[["d41b2e0.f64bed"]]},{"id":"d41b2e0.f64bed","type":"link out","z":"bde4af1b.c528c","name":"Http Request in","links":["af512bd4.c074d8"],"x":615,"y":500,"wires":[]},{"id":"d7abd1180c53148a","type":"http in","z":"bde4af1b.c528c","name":"","url":"/tags2","method":"get","upload":false,"swaggerDoc":"","x":600,"y":160,"wires":[["647f15ba6cda15a9"]]},{"id":"647f15ba6cda15a9","type":"template","z":"bde4af1b.c528c","name":"HOME","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<!DOCTYPE html>\n<html>\n  <head>\n    <title>Exemplo de modal</title>\n    <meta charset=\"UTF-8\" />\n    <style>\n      /* Estilo da modal */\n      .modal {\n        display: none;\n        position: fixed;\n        z-index: 1;\n        padding-top: 100px;\n        left: 0;\n        top: 0;\n        width: 100%;\n        height: 100%;\n        overflow: auto;\n        background-color: rgba(0, 0, 0, 0.4);\n      }\n\n      /* Estilo do conteúdo da modal */\n      .modal-content {\n        background-color: #fefefe;\n        margin: auto;\n        padding: 20px;\n        border: 1px solid #888;\n        width: 80%;\n        max-width: 600px;\n      }\n\n      /* Estilo do botão de fechar */\n      .close {\n        color: #aaa;\n        float: right;\n        font-size: 28px;\n        font-weight: bold;\n      }\n\n      .close:hover,\n      .close:focus {\n        color: black;\n        text-decoration: none;\n        cursor: pointer;\n      }\n    </style>\n  </head>\n  <body>\n    <h1>Exemplo de modal</h1>\n\n    <button id=\"open-modal-btn\">Cadastrar novo</button>\n\n    <!-- Modal -->\n    <div id=\"modal\" class=\"modal\">\n      <!-- Conteúdo da modal -->\n      <div class=\"modal-content\">\n        <span class=\"close\">&times;</span>\n        <h2>Cadastrar novo item</h2>\n        <form id=\"form-cadastro\" method=\"post\">\n          <label for=\"nome\">Nome:</label>\n          <input type=\"text\" id=\"nome\" name=\"nome\" required />\n\n          <label for=\"email\">E-mail:</label>\n          <input type=\"email\" id=\"email\" name=\"email\" required />\n\n          <button type=\"submit\">Cadastrar</button>\n        </form>\n      </div>\n    </div>\n\n    <script>// Seleciona os elementos HTML que vamos usar\nconst openModalBtn = document.querySelector(\"#open-modal-btn\");\nconst modal = document.querySelector(\"#modal\");\nconst closeBtn = document.querySelector(\".close\");\nconst formCadastro = document.querySelector(\"#form-cadastro\");\n\n// Abre a modal quando o botão é clicado\nopenModalBtn.addEventListener(\"click\", () => {\n  modal.style.display = \"block\";\n});\n\n// Fecha a modal quando o usuário clica no botão \"X\"\ncloseBtn.addEventListener(\"click\", () => {\n  modal.style.display = \"none\";\n});\n\n// Fecha a modal quando o usuário clica fora dela\nwindow.addEventListener(\"click\", (event) => {\n  if (event.target == modal) {\n    modal.style.display = \"none\";\n  }\n});\n\n// Envia o formulário quando o usuário clica no botão \"Cadastrar\"\nformCadastro.addEventListener(\"submit\", (event) => {\n  event.preventDefault();\n  const nome = document.querySelector(\"#nome\").value;\n  const email = document.querySelector(\"#email\").value;\n  alert(`Nome: ${nome}\\nE-mail: ${email}`);\n  modal.style.display = \"none\";\n});\n</script>\n  </body>\n</html>\n","output":"str","x":790,"y":160,"wires":[["f08fae537daacd5a"]]},{"id":"f08fae537daacd5a","type":"link out","z":"bde4af1b.c528c","name":"Http Request in","links":["af512bd4.c074d8"],"x":915,"y":160,"wires":[]},{"id":"7caf5efb.aa738","type":"tls-config","name":"","cert":"","key":"","ca":"","certname":"teste.cer","keyname":"","caname":"teste.cer","servername":"pgsns6","verifyservercert":true}]